.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: var(--f-color);
  &-title {
    font-family: var(--font-family-1);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--p-dark-t-color);
    margin-bottom: 30px;
  }
  &-button {
    background-color: var(--accent-color);
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: var(--font-bold);
    font-size: var(--font-btn);
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--p-dark-t-color);
    border: none;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 200px;
    cursor: pointer;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-2x.jpg");
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero_tablet-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero_tablet-2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero_desk-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
      font-family: var(--font-family-1);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--p-dark-t-color);
      max-width: 696px;
      margin-bottom: 30px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero_desk-2x.jpg");
    }
  }
}
