.ourteam {
  &-section {
    background-color: var(--pic-color);
  }
  &-member-name {
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: var(--font-btn);
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &-member-position {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: var(--font-btn);
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
  }
  &-member-social-links-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  &-list-item {
    display: block;
    background-color: var(--p-dark-t-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .ourteam {
    &-section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &-list-item {
      margin: 0 auto;
      width: 450px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ourteam-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ourteam-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &-item {
      width: 354px;
      margin: 15px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .ourteam-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .ourteam-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
