.social-list-item {
  width: max-content;
  height: max-content;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-link-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-link:hover &,
  .social-link:focus & {
    fill: var(--p-dark-t-color);
  }
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
}
