:root {
  --accent-color: #2196f3;
  --pic-color: #f5f4fa;
  --h-text-color: #212121;
  --p-text-color: #757575;
  --f-color: #2f303a;
  --p-dark-t-color: #ffffff;
  --f-link-color: rgba(255, 255, 255, 0.6);
  --f-input-color: rgba(255, 255, 255, 0.3);
  --svg-color: #afb1b8;

  //FONTS

  //Fonts: familys
  --font-family-1: Roboto;
  --font-family-2: Raleway;

  //Fonts: weights
  --font-bold: 700;
  --font-normal: 400;

  //Fonts: sizes
  --font-size-main: 14px;
  --font-btn: 16px;
  --font-accent-text: 18px;
  --font-logo: 26px;
}
